.card{
  background-color: var(--secondary-color);
  width: 75rem;
}

.form-wrapper {
  width: 90%;
  margin: 3rem 2rem;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.subs-text{
  width: 31rem;
}
