<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments (15,246)</h4>

    <div class="comment-box mt-3">
      <h6 class="mb-0">Mike Manson</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2023</small>

      <div class="mt-3 mb-3">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum facilis expedita beatae ab, facere quos minus, nam fugiat eveniet laborum recusandae quibusdam illo. Eius culpa libero fuga asperiores. Unde, animi?
      </div>

      <a href="#" class="mt-1 text-decoration-none">Reply</a>
      <a href="#" class="mt-1 mx-3 text-decoration-none">View Reply</a>
      <hr>
    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">Mike Manson</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2023</small>

      <div class="mt-3 mb-3">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum facilis expedita beatae ab, facere quos minus, nam fugiat eveniet laborum recusandae quibusdam illo. Eius culpa libero fuga asperiores. Unde, animi?
      </div>

      <a href="#" class="mt-1 text-decoration-none">Reply</a>
      <a href="#" class="mt-1 mx-3 text-decoration-none">View Reply</a>
      <hr>
    </div>

    <div class="comment-box mt-3">
      <h6 class="mb-0">Mike Manson</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2023</small>

      <div class="mt-3 mb-3">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum facilis expedita beatae ab, facere quos minus, nam fugiat eveniet laborum recusandae quibusdam illo. Eius culpa libero fuga asperiores. Unde, animi?
      </div>

      <a href="#" class="mt-1 text-decoration-none">Reply</a>
      <a href="#" class="mt-1 mx-3 text-decoration-none">View Reply</a>
      <hr>
    </div>

  </div>
</div>
