<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="card shadow-effect">
        <img src="https://images.pexels.com/photos/4000317/pexels-photo-4000317.jpeg" alt="city img" class="card-img-top img-fluid">
        <div class="card-body">
          <small class="bg-light text-danger text-center mx-3">Design</small>
          <small class="bg-light text-success text-center mx-3">Featured</small>
          <small class="bg-light text-info text-center mx-3">Views - 100,254</small>
          <small class="bg-light text-warning text-center mx-3">LASR UPDATED - SEP 20, 2023</small>

          <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque consectetur in tempore,
            enim, ex excepturi ut temporibus perferendis quas illum reprehenderit recusandae repellat consequuntur
            ipsa molestiae fugiat! Dolorum culpa repudiandae reprehenderit voluptate esse?
            Quidem quisquam quam provident, sed quas neque deserunt optio nemo fuga delectus,
            officiis repellat illum dolorum vel ducimus similique magni nulla voluptatem reiciendis,
            ipsum voluptate non? Excepturi esse voluptates rerum quas velit, quibusdam sunt doloremque
            vero quidem dolorem expedita porro omnis animi perspiciatis eos impedit facere voluptatem
            odit quis. Corporis quam consequuntur, maiores at earum repudiandae atque culpa ratione
            ipsam facere, cupiditate esse nesciunt placeat illo, dignissimos enim animi. Neque rerum
            quas quibusdam illo fugiat quae magni laudantium! Vero cupiditate odit assumenda placeat
            corrupti? Cumque, labore quam illo magnam, culpa omnis esse tempora sequi, ea voluptatem
            placeat perspiciatis ipsa tenetur commodi quidem tempore totam laboriosam. Delectus,
            placeat tempora. Nobis adipisci veritatis eum aliquam numquam asperiores. Odio ducimus
            dolorum nam libero, ullam ad. Aliquam reprehenderit, delectus molestiae ab eveniet omnis
            id praesentium, temporibus repudiandae, nemo consequatur! Numquam exercitationem,
            nostrum ipsum esse rem, doloremque perspiciatis omnis optio enim sed, aliquid incidunt
            repudiandae! In quisquam, animi voluptas illum quam perferendis deleniti dolores quod
            commodi enim a nemo eum aliquid quaerat, consequuntur fuga. Consectetur eius cum aliquid
            odio modi soluta esse facilis obcaecati officiis quo architecto suscipit consequuntur
            tempore qui corporis id harum, expedita sapiente! Blanditiis facilis sed similique
            suscipit aperiam aspernatur voluptatibus, quia consequuntur. Sequi, explicabo eaque
            dolor accusamus blanditiis architecto porro quos tempore, ex iure harum incidunt
            aspernatur suscipit.
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>

    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
