<div class="card shadow-effect">
  <img src="https://images.pexels.com/photos/3216997/pexels-photo-3216997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post image" class="card-img-top">

  <div class="card-body">
    <div class="upper-wrapper">
      <small class="bg-light text-danger text-center upper-text">Design</small>
      <small class="bg-light text-success text-center mx-3 upper-text">Featured</small>
      <small class="bg-light text-info text-center mx-3 upper-text">Views - 100,256</small>
    </div>


    <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Repudiandae, dolores? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
    <small class="bg-light text-warning text-center mx-3">LAST UPDATED - SEP 20, 2023</small>
  </div>
</div>
